<div ng-controller="loginController">
    <div ng-cloak>
        <md-content layout="column" layout-align="start center">
            <h2 class="md-display-2">Log in with</h2>
            <div layout="row">
                <a style="margin: 10px;" href="/login/slack">
                    <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
                </a>
                <a style="margin: 10px;" href="/login/google">
                    <img src="/images/services/google-sociocon.png" />
                </a>
                <a style="margin: 10px;" href="/login/linkedin">
                    <img src="/images/services/linkedin-sociocon.png" />
                </a>
            </div>
        </md-content>
    </div>
</div>